@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



.doItButton{
display: flex;
justify-content: center;
align-items: center;
}


.letsdodoit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10vw;
  height: 7vh;
  background: #FCBE1F;
  border: none;
  font-family: "Inter", sans-serif;
}


.letsDoIt{
  display: flex;
  justify-content: center;
  align-items: center;
}

.puzzledManLookingAtQuestioParent{
display: flex;
margin: 0;
padding: 0;
justify-content: left;
width: 100vw;
}


.puzzledManLookingAtQuestio{
display: flex;
}